pre { 
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 border: thin solid black;
 padding: 1.25em;
}
/* this page needs to be cleaned up :( */
#mainMenu{display:none;}
#toolmenu, #studentGrade, #classRank{display:none;}
#adminMenu{display:none;}
footer{display:none;}
.col3, .col2{display:none;}
#studentName{float: right;}
header{float:left;}
#mainContent{clear: both;}
.highlightRed{
	background-color: #cccccc;
	color: #000000;
}
#gradingCriteria #listStudents, #gradingCriteria #GradeCriteria{
    display:none;
} 
#gradingCriteria ol#studentCriteria{
    display: block;
}

#otherMedia{ display: none;}
.TopicLinks{display:none;}
.m-cal{display:none;}
.topHeader {background-color: #AAC;
					  top: 0px;
					  left: 0px;}
.subLogo {display:none;}
.studentGrade {display:none;}
.classRank {display:none;}


div.user{display:block; float: right;}
a:visited {color: purple;}
.todaysDate {float: right; 
					 text-align:right; 
					 background: #F3F3F3;
					 border: 1px solid gray; 
					 border-width: 0 0 1px 1px; 
					 margin:0;
					 padding: 0.125em 0.25em 0 0.25em; 
					   
}


.student{float: left; 
				padding: 0.125em 10.25em 0 0.25em; 
				margin:0;
}

.attendance {float: right; text-align:center; border: 1px solid gray; border-width: 0 0 1px 1px; padding: 0.125em 0.25em 0 0.25em; margin:0;}
.attendance.present{background: #aa1111;}
.attendance.absent{background: #1100aa;}
.attendance.excused{background: #006600;}
.logo {padding: 4px 15px 3px 15px;
       font-weight: bold;
			 font-size: 14pt;
			 border-bottom: 1px solid black
}


.main{ clear: both;
					  top: 50px;
					  left: 0px;
	}
	ol li { padding: 0px;
				 margin-left: -20px;}
				 
table#calendar a {text-decoration: none;}
		
tr#days{width:18%;}
tr#days th.sat, tr#days th.sun {width:5%;}
table#calendar tr#title {page-break-before: left;}


table#calendar tr#days th {color: black; 
					background-color: transparent;
					font-weight: bold; 
					text-align: center;
					padding: 1px 0.33em;
}
table#calendar tr#title th {background: transparent; color: black;
   border-width: 0; font-size: 200%;}
	 
	table#calendar td {vertical-align:top;
   padding:0; border: 0px solid gray; border-width: 0 0 1px 1px;}
	 
	table#calendar td.sat {border-right: 1px solid gray;}
	
	table#calendar a {font-weight: bold; display: block; margin: 0;}
	
	table#calendar a:link {color: navy;}
	
	div.date{float: right; text-align:center; border: 1px solid gray; border-width: 0 0 1px 1px; padding: 0.125em 0.25em 0 0.25em; margin:0;  background: transparent;}
	td.sat div.date, td.sun div.date{border-width: 0; color: gray; background: transparent;}
	td.jun div.date, td.aug div.date{border-width: 0; color: gray; background: transparent;}	
	table#calendar td.sat, table#calendar td.sun {background: transparent;}
	
	table#calendar td.lastMonth, table#calendar td.nextMonth {
   background: transparent; color: black;}
	 
	table#calendar tr#lastweek td {border-bottom: 2px solid #AAB;}
	
	table#calendar td.holiday {background: #FAA;
   border-color: #BBB #FCC #FCC #BBB;}
	
	table#calendar td.atoday {color: #C33; font-weight: bold; background: #FF6; border: 1px solid black;}

	 div.event{margin:0.5em;}
	 div.event span{display: block;}
	 div.holiday{font-style: italic;}
	 span.time{font-weight:bold;}
	 span.loc{color:#555; font-style:italic;}
	.assignment {background: #cc0000; border-color: #BBB #FCC #FCC #BBB;}

table#syllabus, table#syllabus td, table#syllabus th{border: 1px solid gray; padding: 3px;}
table#grading, table#grading td, table#grading th{border: 1px solid gray; padding: 8px;}
table.grades {
  	width: auto;
}
table.grades th {
	background-color: #2360cc;
	color: #ffffff;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.standard {
	color: Black;
	text-align: left;
	background-color: white;
/* 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
	font-family: Arial;
}


.standard th {
	border-color: black;
	color: white;
	border: solid #000 1px;
	background-color:  #3b90cc;
	text-align: center;
	font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
	border-collapse: collapse;
}

table.standard td {
	background: #ffffff;
	color: #000000;
	border: 1px solid #000000;
}
.highlight{
	background-color: #D8DFEA;
}


.newGroup{
	border-top: thick solid black;
}

table#grading{
	margin: auto;
}

table#grading, table#grading td, table#grading th{
	border: 1px solid gray; 
	padding: 8px; 
	text-align: right;
}

.standard {
	color: Black;
	text-align: left;
	background-color: white;
	font-family: Arial;
	border-collapse: collapse;
}

.standard th {
	border-color: black;
	color: white;
	border: solid #000 1px;
	background-color:  #3b90cc;
	text-align: center;
	font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
	padding: 4px; 
}

.standard td {
	border: 1px dashed black;
	text-align: center;
	font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
}

#classtitle{
	font-size:12px; 
	font-weight:bold;
}

#studentComments{
	display: none;
}
.noPrint{
	display: none;
}

h1{
	font-size:1.3em;
}

h2, h2 a{
	font-size:1.2em;
}

h3{
	font-size:1.1em;
}